---
import { LOGO } from '../../data/content';
---

<footer class="wrap">
  <div class="foot-grid">
    <div class="foot-brand">
      <img src={LOGO} alt="ALVAMITRA" />
      <p>Toko & solusi CCTV terpercaya. Tools perencanaan gratis untuk teknisi, reseller, dan integrator di Indonesia.</p>
    </div>
    <div class="foot-col">
      <h5>Coverage</h5>
      <a href="https://alvamitra.com/tools/cctv-calculator">CCTV Calculator</a>
      <a href="https://alvamitra.com/tools/viewing-angle">Viewing Angle</a>
    </div>
    <div class="foot-col">
      <h5>Network</h5>
      <a href="https://alvamitra.com/tools/bandwidth">Bandwidth</a>
      <a href="https://alvamitra.com/tools/storage">Storage Needs</a>
      <a href="https://alvamitra.com/tools/subnet">Subnet Planner</a>
    </div>
    <div class="foot-col">
      <h5>Power & test</h5>
      <a href="https://alvamitra.com/tools/wireless-signal">Wireless Signal</a>
      <a href="https://alvamitra.com/tools/poe-budget">PoE Budget</a>
      <a href="https://alvamitra.com/tools/port-test">Port Test</a>
    </div>
  </div>
  <div class="foot-bottom">
    <span>© 2026 ALVAMITRA. Semua hak dilindungi.</span>
    <span>Dibuat untuk para teknisi CCTV Indonesia.</span>
  </div>
</footer>
